# Arbitrum Sepolia RPC and USDC configuration
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ARBITRUM_SEPOLIA_USDC=0x0000000000000000000000000000000000000000
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
